In [1]:
# uncomment this if you haven't installed pycoingecko
!pip install pycoingecko

Requirement already satisfied: pycoingecko in c:\apps\miniconda3\envs\atoti-20201005\lib\site-packages (1.4.0)
Requirement already satisfied: requests in c:\apps\miniconda3\envs\atoti-20201005\lib\site-packages (from pycoingecko) (2.24.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\apps\miniconda3\envs\atoti-20201005\lib\site-packages (from requests->pycoingecko) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\apps\miniconda3\envs\atoti-20201005\lib\site-packages (from requests->pycoingecko) (1.25.10)
Requirement already satisfied: idna<3,>=2.5 in c:\apps\miniconda3\envs\atoti-20201005\lib\site-packages (from requests->pycoingecko) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\apps\miniconda3\envs\atoti-20201005\lib\site-packages (from requests->pycoingecko) (3.0.4)

  
<div style="text-align:center"><a href="https://www.atoti.io/?utm_source=gallery&utm_content=twitter3" target="_blank" rel="noopener noreferrer"><img src="https://data.atoti.io/notebooks/banners/Discover-Atoti-now.png" alt="atoti" /></a></div>

In [2]:
import pandas as pd
from pycoingecko import CoinGeckoAPI

### Cryptocurrency mining with Coin Gecko API

We obtained a list of popular cryptocurrencies from [CoinGecko](https://www.coingecko.com/en):
- Bitcoin (BTC) 
- Ethereum (ETH) 
- XRP (XRP) 
- Bitcoin Cash (BCH) 
- Cardano (ADA)
- Bitcoin SV (BSV) 
- Litecoin (LTC)
- ChainLink (LINK)
- Binance Coin (BNB)
- EOS (EOS)
- TRON (TRON)

We will need the currency name to download the market data for the cryptocurrency. Download the supported [coin list](https://www.coingecko.com/api/documentations/v3#/coins/get_coins_list) by executing the API from the link.

In [ ]:
gecko_list = [
    "bitcoin",
    "ethereum",
    "ripple",  # xrp
    "bitcoin-cash",
    "cardano",
    "bitcoin-cash-sv",
    "litecoin",
    "chainlink",
    "binancecoin",
    "eos",
    "tron",
]

We will be using [pycoingecko](https://pypi.org/project/pycoingecko/) which is a Python3 wrapper around the CoinGecko API.

In [ ]:
cg = CoinGeckoAPI()

We will get the historical market data up to the number of days indicated by `timePeriod` below.  
As highlighted in the [API](https://www.coingecko.com/api/documentations/v3#/coins/get_coins__id__market_chart), the API will return:  
- minutely data for duration within 1 day
- hourly data will be used for duration between 1 day and 90 days
- daily data will be used for duration above 90 days  

In our case, we are only interested in getting the price value of the cryptocurrency.

In [3]:
timePeriod = 300

data = {}
for coin in gecko_list:
    try:
        nested_lists = cg.get_coin_market_chart_by_id(
            id=coin, vs_currency="usd", days=timePeriod
        )["prices"]
        data[coin] = {}
        data[coin]["timestamps"], data[coin]["values"] = zip(*nested_lists)

    except Exception as e:
        print(e)
        print("coin: " + coin)

frame_list = [
    pd.DataFrame(data[coin]["values"], index=data[coin]["timestamps"], columns=[coin])
    for coin in gecko_list
    if coin in data
]

In [4]:
df_cyptocurrency = pd.concat(frame_list, axis=1).sort_index()
df_cyptocurrency

,bitcoin,ethereum,ripple,tether,bitcoin-cash,cardano,bitcoin-cash-sv,litecoin,chainlink,binancecoin,eos,tron
1576713600000,7274.768504,132.741361,NaN,NaN,189.111354,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1576800000000,7152.558692,128.079154,0.190036,1.000670,186.228346,0.032984,84.561487,39.645595,1.803688,13.307271,2.448438,0.012985
1576886400000,7185.439180,128.270194,0.194128,1.000634,187.210366,0.033893,88.233249,40.178240,1.920740,13.499499,2.486403,0.013383
1576972800000,7141.554857,126.932873,0.193142,1.000753,186.049693,0.033048,84.800714,39.701346,1.858675,13.289084,2.442220,0.013529
1577059200000,7488.196175,132.177470,0.196404,1.001865,196.308955,0.034285,88.188291,41.938737,1.929517,13.805615,2.534690,0.014861
...,...,...,...,...,...,...,...,...,...,...,...,...
1602639286000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.638340,NaN
1602639288000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.026845
1602639290000,NaN,NaN,0.256551,NaN,NaN,NaN,NaN,NaN,11.117577,NaN,NaN,NaN
1602639300000,NaN,NaN,NaN,NaN,NaN,0.109929,NaN,NaN,NaN,NaN,NaN,NaN
1602639309000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.855818,NaN,NaN

The index reflects the timestamp of the data. We convert it into date time and obtain the date and hour for the cryptocurrencies.

In [5]:
df_cyptocurrency["datetime"] = pd.to_datetime(df_cyptocurrency.index, unit="ms")
df_cyptocurrency["date"] = df_cyptocurrency["datetime"].dt.date
df_cyptocurrency["hour"] = df_cyptocurrency["datetime"].dt.hour
df_cyptocurrency

,bitcoin,ethereum,ripple,tether,bitcoin-cash,cardano,bitcoin-cash-sv,litecoin,chainlink,binancecoin,eos,tron,datetime,date,hour
1576713600000,7274.768504,132.741361,NaN,NaN,189.111354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-12-19 00:00:00,2019-12-19,0
1576800000000,7152.558692,128.079154,0.190036,1.000670,186.228346,0.032984,84.561487,39.645595,1.803688,13.307271,2.448438,0.012985,2019-12-20 00:00:00,2019-12-20,0
1576886400000,7185.439180,128.270194,0.194128,1.000634,187.210366,0.033893,88.233249,40.178240,1.920740,13.499499,2.486403,0.013383,2019-12-21 00:00:00,2019-12-21,0
1576972800000,7141.554857,126.932873,0.193142,1.000753,186.049693,0.033048,84.800714,39.701346,1.858675,13.289084,2.442220,0.013529,2019-12-22 00:00:00,2019-12-22,0
1577059200000,7488.196175,132.177470,0.196404,1.001865,196.308955,0.034285,88.188291,41.938737,1.929517,13.805615,2.534690,0.014861,2019-12-23 00:00:00,2019-12-23,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1602639286000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.638340,NaN,2020-10-14 01:34:46,2020-10-14,1
1602639288000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.026845,2020-10-14 01:34:48,2020-10-14,1
1602639290000,NaN,NaN,0.256551,NaN,NaN,NaN,NaN,NaN,11.117577,NaN,NaN,NaN,2020-10-14 01:34:50,2020-10-14,1
1602639300000,NaN,NaN,NaN,NaN,NaN,0.109929,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-14 01:35:00,2020-10-14,1
1602639309000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.855818,NaN,NaN,2020-10-14 01:35:09,2020-10-14,1

We translate the above table into a tabular format instead.

In [6]:
df_cyptocurrency = df_cyptocurrency.melt(
    id_vars=["datetime", "date", "hour"], var_name="currency_name", ignore_index=True
)
df_cyptocurrency.head(5)

    datetime        date  hour currency_name        value
0 2019-12-19  2019-12-19     0       bitcoin  7274.768504
1 2019-12-20  2019-12-20     0       bitcoin  7152.558692
2 2019-12-21  2019-12-21     0       bitcoin  7185.439180
3 2019-12-22  2019-12-22     0       bitcoin  7141.554857
4 2019-12-23  2019-12-23     0       bitcoin  7488.196175

In [7]:
df_cyptocurrency.dropna(inplace=True)

We map the currency name to the coin symbol so as to reconcile with the tweets that was mined.

In [8]:
curr = dict(
    [
        ("bitcoin", "BTC"),
        ("ethereum", "ETH"),
        ("ripple", "XRP"),
        ("bitcoin-cash", "BCH"),
        ("cardano", "ADA"),
        ("bitcoin-cash-sv", "BSV"),
        ("litecoin", "LTC"),
        ("chainlink", "LINK"),
        ("binancecoin", "BNB"),
        ("tron", "TRON"),
        ("eos", "EOS"),
        ("tether", "USDT"),
    ]
)

df_cyptocurrency["coin_symbol"] = df_cyptocurrency["currency_name"].apply(
    lambda c: curr[c]
)

In [9]:
df_cyptocurrency

,datetime,date,hour,currency_name,value,coin_symbol
0,2019-12-19 00:00:00,2019-12-19,0,bitcoin,7274.768504,BTC
1,2019-12-20 00:00:00,2019-12-20,0,bitcoin,7152.558692,BTC
2,2019-12-21 00:00:00,2019-12-21,0,bitcoin,7185.439180,BTC
3,2019-12-22 00:00:00,2019-12-22,0,bitcoin,7141.554857,BTC
4,2019-12-23 00:00:00,2019-12-23,0,bitcoin,7488.196175,BTC
...,...,...,...,...,...,...
3729,2020-10-11 00:00:00,2020-10-11,0,tron,0.026437,TRON
3730,2020-10-12 00:00:00,2020-10-12,0,tron,0.026553,TRON
3731,2020-10-13 00:00:00,2020-10-13,0,tron,0.027099,TRON
3735,2020-10-14 00:00:00,2020-10-14,0,tron,0.026821,TRON
3740,2020-10-14 01:34:48,2020-10-14,1,tron,0.026845,TRON

  
<div style="text-align:center"><a href="https://www.atoti.io/?utm_source=gallery&utm_content=twitter3" target="_blank" rel="noopener noreferrer"><img src="https://data.atoti.io/notebooks/banners/Your-turn-to-try-Atoti.jpg" alt="atoti" /></a></div>